default_profile "tesseract"
profile "tesseract" {
	size 700 380
	scale 1.0
	location {
		monitor 2
		anchor "BottomLeft"
		offset 0 40
	}
}
profile "surface" {
	size 1720 800
	scale 0.5
	location {
		anchor "BottomLeft"
		offset 0 90
	}
}
layout {
	default_layer "alpha"

	switch "thumbA.L"   40.0 -110.0 side="left"
	switch "thumbB.L"  100.0 -110.0 side="left"
	switch "indexA1.L"  70.0   70.0 side="left"
	switch "indexA2.L"  70.0   10.0 side="left"
	switch "indexA3.L"  70.0  -50.0 side="left"
	switch "indexB1.L" 130.0   80.0 side="left"
	switch "indexB2.L" 130.0   20.0 side="left"
	switch "indexB3.L" 130.0  -40.0 side="left"
	switch "middle1.L" 190.0  100.0 side="left"
	switch "middle2.L" 190.0   40.0 side="left"
	switch "middle3.L" 190.0  -20.0 side="left"
	switch "ring1.L"   250.0   80.0 side="left"
	switch "ring2.L"   250.0   20.0 side="left"
	switch "ring3.L"   250.0  -40.0 side="left"
	switch "pinky1.L"  310.0   40.0 side="left"
	switch "pinky2.L"  310.0  -20.0 side="left"
	switch "pinky3.L"  310.0  -80.0 side="left"

	switch "thumbA.R"   40.0 -110.0 side="right"
	switch "thumbB.R"  100.0 -110.0 side="right"
	switch "indexA1.R"  70.0   70.0 side="right"
	switch "indexA2.R"  70.0   10.0 side="right"
	switch "indexA3.R"  70.0  -50.0 side="right"
	switch "indexB1.R" 130.0   80.0 side="right"
	switch "indexB2.R" 130.0   20.0 side="right"
	switch "indexB3.R" 130.0  -40.0 side="right"
	switch "middle1.R" 190.0  100.0 side="right"
	switch "middle2.R" 190.0   40.0 side="right"
	switch "middle3.R" 190.0  -20.0 side="right"
	switch "ring1.R"   250.0   80.0 side="right"
	switch "ring2.R"   250.0   20.0 side="right"
	switch "ring3.R"   250.0  -40.0 side="right"
	switch "pinky1.R"  310.0   40.0 side="right"
	switch "pinky2.R"  310.0  -20.0 side="right"
	switch "pinky3.R"  310.0  -80.0 side="right"

	combo "meta" -70.0 -160.0 (IconBootstrap)"windows" {
		link {
			switch "thumbB.L" 0.0 1.0
			point (+)-97.0 (-)-163.0 (Y)6.0 // corner is at <-97, -163>, with control points at <-94, -163> and <-97, -160>
			anchor -1.0 0.0
		}
		link {
			anchor 1.0 0.0
			point (-)-37.0 (-)-163.0 (X)6.0 // corner is at <-37, -163>, with control points at <-40, -163> and <-37, -160>
			switch "thumbA.L" 0.0 1.0
		}
	}
	combo "capsword" 0.0 10.0 (IconBootstrap)"capslock" {
		layers "alpha"
		link {
			switch "indexA2.L" 1.0 0.0
			anchor -1.0 0.0
		}
		link {
			switch "indexA2.R" -1.0 0.0
			anchor 1.0 0.0
		}
	}
	combo "capslock" 0.0 70.0 (IconBootstrap)"capslock-fill" {
		layers "alpha"
		link {
			switch "indexA1.L" 1.0 0.0
			anchor -1.0 0.0
		}
		link {
			switch "indexA1.R" -1.0 0.0
			anchor 1.0 0.0
		}
	}
	combo "layer_system" 0.0 150.0 "SYS" {
		layers "alpha"
		link {
			switch "pinky1.L" 0.0 -1.0
			point (+)-307.0 (+)150.0 (Y)6.0
			anchor -1.0 0.0
		}
		link {
			switch "pinky1.R" 0.0 -1.0
			point (-)312.0 (+)150.0 (Y)6.0
			anchor 1.0 0.0
		}
		bind "F24" layer="sys"
	}

	layer "alpha" {
		bind-todo "thumbA.L" "ModTap" {
			tap "Space" (IconCustom)"space"
			hold (Layer)"F22" "symbol" "SYM"
		}
		bind "thumbA.L" {
			slot "Tap" "Space" (IconCustom)"space"
			slot "Hold" "F22" "SYM" layer="symbol"
		}
		bind "thumbB.L" {
			slot "Tap" "Backspace" (IconBootstrap)"backspace-fill"
			slot "Hold" "Delete" "DEL"
		}
		bind "indexA1.L" {
			slot "Tap" "B"
		}
		bind "indexA2.L" {
			slot "Tap" "G"
		}
		bind "indexA3.L" {
			slot "Tap" "V"
			slot "Hold" "LControl+V" "paste"
		}
		bind "indexB1.L" {
			slot "Tap" "P"
		}
		bind "indexB2.L" {
			slot "Tap" "T"
			slot "Hold" "LShift" (IconBootstrap)"shift-fill"
		}
		bind "indexB3.L" {
			slot "Tap" "D"
		}
		bind "middle1.L" {
			slot "Tap" "F"
		}
		bind "middle2.L" {
			slot "Tap" "S"
			slot "Hold" "F23" "NAV" layer="nav"
		}
		bind "middle3.L" {
			slot "Tap" "C"
			slot "Hold" "LControl+C" "copy"
		}
		bind "ring1.L" {
			slot "Tap" "W"
		}
		bind "ring2.L" {
			slot "Tap" "R"
			slot "Hold" "LControl" (IconBootstrap)"command"
		}
		bind "ring3.L" {
			slot "Tap" "X"
			slot "Hold" "LControl+X" "cut"
		}
		bind "pinky1.L" {
			slot "Tap" "Q"
		}
		bind "pinky2.L"  {
			slot "Tap" "A"
			slot "Hold" "Tab" (IconBootstrap)"indent"
		}
		bind "pinky3.L"  {
			slot "Tap" "Z"
		}

		bind "thumbA.R" {
			slot "Tap" "Enter" (IconBootstrap)"arrow-return-left"
			slot "Hold" "F21" "NUM" layer="number"
		}
		bind "thumbB.R" {
			slot "Tap" "Escape" (IconBootstrap)"escape"
		}
		bind "indexA1.R" {
			slot "Tap" "J"
		}
		bind "indexA2.R" {
			slot "Tap" "M"
			slot "Hold" "."
		}
		bind "indexA3.R" {
			slot "Tap" "K"
			slot "Hold" ":"
		}
		bind "indexB1.R" {
			slot "Tap" "L"
			slot "Hold" ";"
		}
		bind "indexB2.R" {
			slot "Tap" "N"
			slot "Hold" "RShift" (IconBootstrap)"shift-fill"
		}
		bind "indexB3.R" {
			slot "Tap" "H"
		}
		bind "middle1.R" {
			slot "Tap" "U"
		}
		bind "middle2.R" {
			slot "Tap" "E"
			slot "Hold" "_"
		}
		bind "middle3.R" {
			slot "Tap" ","
		}
		bind "ring1.R" {
			slot "Tap" "Y"
		}
		bind "ring2.R" {
			slot "Tap" "I"
		}
		bind "ring3.R"
		bind "pinky1.R"
		bind "pinky2.R" {
			slot "Tap" "O"
		}
		bind "pinky3.R"
	}
	layer "number" {
		bind "thumbA.L" {
			slot "Tap" "0"
		}
		bind "thumbB.L"
		bind "indexA1.L"
		bind "indexA2.L"
		bind "indexA3.L"
		bind "indexB1.L" {
			slot "Tap" "6"
		}
		bind "indexB2.L" {
			slot "Tap" "3"
		}
		bind "indexB3.L" {
			slot "Tap" "9"
		}
		bind "middle1.L" {
			slot "Tap" "5"
		}
		bind "middle2.L" {
			slot "Tap" "2"
		}
		bind "middle3.L" {
			slot "Tap" "8"
		}
		bind "ring1.L" {
			slot "Tap" "4"
		}
		bind "ring2.L" {
			slot "Tap" "1"
		}
		bind "ring3.L" {
			slot "Tap" "7"
		}
		bind "pinky1.L"
		bind "pinky2.L" {
			slot "Tap" "."
		}
		bind "pinky3.L"

		//bind "thumbA.R"
		bind "thumbB.R"
		bind "indexA1.R" {
			slot "Tap" "F10"
		}
		bind "indexA2.R" {
			slot "Tap" "F11"
		}
		bind "indexA3.R" {
			slot "Tap" "F12"
		}
		bind "indexB1.R" {
			slot "Tap" "F4"
		}
		bind "indexB2.R" {
			slot "Tap" "F1"
		}
		bind "indexB3.R" {
			slot "Tap" "F7"
		}
		bind "middle1.R" {
			slot "Tap" "F5"
		}
		bind "middle2.R" {
			slot "Tap" "F2"
		}
		bind "middle3.R" {
			slot "Tap" "F8"
		}
		bind "ring1.R" {
			slot "Tap" "F6"
		}
		bind "ring2.R" {
			slot "Tap" "F3"
		}
		bind "ring3.R" {
			slot "Tap" "F9"
		}
		bind "pinky1.R"
		bind "pinky2.R"
		bind "pinky3.R"
	}
	layer "symbol" {
		//bind "thumbA.L"
		bind "thumbB.L"
		bind "indexA1.L" {
			slot "Tap" "."
		}
		bind "indexA2.L" {
			slot "Tap" "#"
		}
		bind "indexA3.L" {
			slot "Tap" "^"
		}
		bind "indexB1.L" {
			slot "Tap" "\""
		}
		bind "indexB2.L" {
			slot "Tap" "="
		}
		bind "indexB3.L" {
			slot "Tap" "\\"
		}
		bind "middle1.L" {
			slot "Tap" ">"
		}
		bind "middle2.L" {
			slot "Tap" "+"
		}
		bind "middle3.L" {
			slot "Tap" "*"
		}
		bind "ring1.L" {
			slot "Tap" "<"
		}
		bind "ring2.L" {
			slot "Tap" "-"
		}
		bind "ring3.L" {
			slot "Tap" "/"
		}
		bind "pinky1.L" {
			slot "Tap" "'"
		}
		bind "pinky2.L" {
			slot "Tap" "!"
		}
		bind "pinky3.L"

		bind "thumbA.R"
		bind "thumbB.R" {
			slot "Tap" "`"
		}
		bind "indexA1.R" {
			slot "Tap" "&"
		}
		bind "indexA2.R" {
			slot "Tap" "|"
		}
		bind "indexA3.R" {
			slot "Tap" "~"
		}
		bind "indexB1.R" {
			slot "Tap" ":"
		}
		bind "indexB2.R" {
			slot "Tap" ";"
		}
		bind "indexB3.R" {
			slot "Tap" "$"
		}
		bind "middle1.R" {
			slot "Tap" "["
		}
		bind "middle2.R" {
			slot "Tap" "("
		}
		bind "middle3.R" {
			slot "Tap" "{"
		}
		bind "ring1.R" {
			slot "Tap" "]"
		}
		bind "ring2.R" {
			slot "Tap" ")"
		}
		bind "ring3.R" {
			slot "Tap" "}"
		}
		bind "pinky1.R" {
			slot "Tap" "%"
		}
		bind "pinky2.R" {
			slot "Tap" "?"
		}
		bind "pinky3.R" {
			slot "Tap" "@"
		}
	}
	layer "nav" {
		bind "thumbA.L" {
			slot "Tap" "LShift" (IconBootstrap)"shift-fill"
		}
		bind "thumbB.L"
		bind "indexA1.L" {
			slot "Tap" "AudioVolumeUp" (IconBootstrap)"volume-up-fill"
		}
		bind "indexA2.L" {
			slot "Tap" "AudioVolumeMute" (IconBootstrap)"volume-mute-fill"
		}
		bind "indexA3.L" {
			slot "Tap" "AudioVolumeDown" (IconBootstrap)"volume-down-fill"
		}
		bind "indexB1.L" {
			slot "Tap" "MediaTrackNext" (IconBootstrap)"skip-end-fill"
		}
		bind "indexB2.L" {
			slot "Tap" "MediaPlayPause" (IconCustom)"play-pause"
		}
		bind "indexB3.L" {
			slot "Tap" "MediaTrackPrevious" (IconBootstrap)"skip-start-fill"
		}
		bind "middle1.L"
		//bind "middle2.L"
		bind "middle3.L"
		bind "ring1.L"
		bind "ring2.L" {
			slot "Tap" "LMeta" (IconBootstrap)"windows"
		}
		bind "ring3.L"
		bind "pinky1.L"
		bind "pinky2.L"
		bind "pinky3.L"

		bind "thumbA.R" {
			slot "Tap" "RControl" (IconBootstrap)"command"
		}
		bind "thumbB.R"
		bind "indexA1.R" {
			slot "Tap" "PrintScreen" (IconBootstrap)"display"
		}
		bind "indexA2.R" {
			slot "Tap" "Pause" (IconBootstrap)"x-circle"
		}
		bind "indexA3.R"
		bind "indexB1.R"
		bind "indexB2.R" {
			slot "Tap" "ArrowLeft" (IconBootstrap)"arrow-left"
			slot "Hold" "Home" (IconBootstrap)"box-arrow-left"
		}
		bind "indexB3.R"
		bind "middle1.R" {
			slot "Tap" "ArrowUp" (IconBootstrap)"arrow-up"
			slot "Hold" "PageUp" (IconBootstrap)"box-arrow-up"
		}
		bind "middle2.R" {
			slot "Tap" "ArrowDown" (IconBootstrap)"arrow-down"
			slot "Hold" "PageDown" (IconBootstrap)"box-arrow-down"
		}
		bind "middle3.R"
		bind "ring1.R"
		bind "ring2.R" {
			slot "Tap" "ArrowRight" (IconBootstrap)"arrow-right"
			slot "Hold" "End" (IconBootstrap)"box-arrow-right"
		}
		bind "ring3.R"
		bind "pinky1.R"
		bind "pinky2.R"
		bind "pinky3.R"
	}
	layer "sys" {
		bind "thumbA.L"
		bind "thumbB.L"
		bind "indexA1.L"
		bind "indexA2.L"
		bind "indexA3.L"
		bind "indexB1.L"
		bind "indexB2.L"
		bind "indexB3.L"
		bind "middle1.L" // bluetooth clear
		bind "middle2.L"
		bind "middle3.L"
		bind "ring1.L"
		bind "ring2.L"
		bind "ring3.L"
		bind "pinky1.L"
		bind "pinky2.L" {
			slot "Tap" "_" "bootloader"
		}
		bind "pinky3.L" {
			slot "Tap" "_" "reset"
		}

		bind "thumbA.R"
		bind "thumbB.R" {
			slot "Tap" "Escape" (IconBootstrap)"escape"
		}
		bind "indexA1.R" // RGB toggle
		bind "indexA2.R"
		bind "indexA3.R"
		bind "indexB1.R"
		bind "indexB2.R"
		bind "indexB3.R"
		bind "middle1.R"
		bind "middle2.R"
		bind "middle3.R"
		bind "ring1.R"
		bind "ring2.R"
		bind "ring3.R"
		bind "pinky1.R"
		bind "pinky2.R" {
			slot "Tap" "_" "bootloader"
		}
		bind "pinky3.R" {
			slot "Tap" "_" "reset"
		}
	}
	layer "game1" {

	}
	layer "game2" {

	}
}