default_profile "tesseract"
profile "tesseract" {
	size 720 300
	scale 1.0
	location {
		monitor 1
		anchor "BottomLeft"
		offset 0 40
	}
}
layout {
	default_layer "alpha"

	switch "thumbA.L"  31 "AltLeft"			 40.0 -110.0 side="left"
	switch "thumbB.L"  30 "ControlLeft"		100.0 -110.0 side="left"
	switch "indexA1.L"  4 "T"				 70.0   70.0 side="left"
	switch "indexA2.L" 14 "G"				 70.0   10.0 side="left"
	switch "indexA3.L" 24 "B"				 70.0  -50.0 side="left"
	switch "indexB1.L"  3 "R"				130.0   80.0 side="left"
	switch "indexB2.L" 13 "F"				130.0   20.0 side="left"
	switch "indexB3.L" 23 "V"				130.0  -40.0 side="left"
	switch "middle1.L"  2 "E"				190.0  100.0 side="left"
	switch "middle2.L" 12 "D"				190.0   40.0 side="left"
	switch "middle3.L" 22 "C"				190.0  -20.0 side="left"
	switch "ring1.L"    1 "W"				250.0   80.0 side="left"
	switch "ring2.L"   11 "S"				250.0   20.0 side="left"
	switch "ring3.L"   21 "X"				250.0  -40.0 side="left"
	switch "pinky1.L"   0 "Q"				310.0   40.0 side="left"
	switch "pinky2.L"  10 "A"				310.0  -20.0 side="left"
	switch "pinky3.L"  20 "Z"				310.0  -80.0 side="left"

	switch "thumbA.R"  32 "ControlRight"	 40.0 -110.0 side="right"
	switch "thumbB.R"  33 "AltRight"		100.0 -110.0 side="right"
	switch "indexA1.R"  5 "Y"				 70.0   70.0 side="right"
	switch "indexA2.R" 15 "H"				 70.0   10.0 side="right"
	switch "indexA3.R" 25 "N"				 70.0  -50.0 side="right"
	switch "indexB1.R"  6 "U"				130.0   80.0 side="right"
	switch "indexB2.R" 16 "J"				130.0   20.0 side="right"
	switch "indexB3.R" 26 "M"				130.0  -40.0 side="right"
	switch "middle1.R"  7 "I"				190.0  100.0 side="right"
	switch "middle2.R" 17 "K"				190.0   40.0 side="right"
	switch "middle3.R" 27 ","				190.0  -20.0 side="right"
	switch "ring1.R"    8 "O"				250.0   80.0 side="right"
	switch "ring2.R"   18 "L"				250.0   20.0 side="right"
	switch "ring3.R"   28 "Dot"				250.0  -40.0 side="right"
	switch "pinky1.R"   9 "P"				310.0   40.0 side="right"
	switch "pinky2.R"  19 "SemiColon"		310.0  -20.0 side="right"
	switch "pinky3.R"  29 "Slash"			310.0  -80.0 side="right"

	layer "alpha" {
		bind "thumbA.L"  (MDI)"backspace" hold=(MDI)"backspace-reverse"
		bind "thumbB.L"  (MDI)"keyboard-space" hold=(Layer)"SYM"
		bind "indexA1.L" "b"
		bind "indexA2.L" "g"
		bind "indexA3.L" "v"
		bind "indexB1.L" "p"
		bind "indexB2.L" "t" hold="SHIFT"
		bind "indexB3.L" "d"
		bind "middle1.L" "f"
		bind "middle2.L" "s" hold=(Layer)"NAV"
		bind "middle3.L" "c"
		bind "ring1.L"   "w"
		bind "ring2.L"   "r"
		bind "ring3.L"   "x"
		bind "pinky1.L"  "q"
		bind "pinky2.L"  "a"
		bind "pinky3.L"  "z"

		bind "thumbA.R"  (MDI)"keyboard-return" hold=(Layer)"NUM"
		bind "thumbB.R"  "ESC"
		bind "indexA1.R" "j"
		bind "indexA2.R" "m" hold="."
		bind "indexA3.R" "k" hold=":"
		bind "indexB1.R" "l" hold=";"
		bind "indexB2.R" "n" hold="SHIFT"
		bind "indexB3.R" "h"
		bind "middle1.R" "u"
		bind "middle2.R" "e" hold="_"
		bind "middle3.R" ","
		bind "ring1.R"   "y"
		bind "ring2.R"   "i"
		bind "ring3.R"   ""
		bind "pinky1.R"  ""
		bind "pinky2.R"  "o"
		bind "pinky3.R"  ""

	}
	layer "number" {
		bind  "thumbA.L" "0"
		bind  "thumbB.L" ""
		bind "indexA1.L" ""
		bind "indexA2.L" ""
		bind "indexA3.L" ""
		bind "indexB1.L" "6"
		bind "indexB2.L" "3"
		bind "indexB3.L" "9"
		bind "middle1.L" "5"
		bind "middle2.L" "2"
		bind "middle3.L" "8"
		bind   "ring1.L" "4"
		bind   "ring2.L" "1"
		bind   "ring3.L" "7"
		bind  "pinky1.L" ""
		bind  "pinky2.L" "."
		bind  "pinky3.L" ""

		bind  "thumbA.R" (Layer)"NUM"
		bind  "thumbB.R" ""
		bind "indexA1.R" "F10"
		bind "indexA2.R" "F11"
		bind "indexA3.R" "F12"
		bind "indexB1.R" "F6"
		bind "indexB2.R" "F3"
		bind "indexB3.R" "F9"
		bind "middle1.R" "F5"
		bind "middle2.R" "F2"
		bind "middle3.R" "F8"
		bind   "ring1.R" "F4"
		bind   "ring2.R" "F1"
		bind   "ring3.R" "F7"
		bind  "pinky1.R" ""
		bind  "pinky2.R" ""
		bind  "pinky3.R" ""
	}
	layer "symbol" {
		bind "thumbA.L"  (Layer)"SYM"
		bind "thumbB.L"  ""
		bind "indexA1.L" "."
		bind "indexA2.L" "#"
		bind "indexA3.L" ""
		bind "indexB1.L" "\""
		bind "indexB2.L" "="
		bind "indexB3.L" "\\"
		bind "middle1.L" ">"
		bind "middle2.L" "+"
		bind "middle3.L" "*"
		bind "ring1.L"   "<"
		bind "ring2.L"   "-"
		bind "ring3.L"   "/"
		bind "pinky1.L"  "'"
		bind "pinky2.L"  "!"
		bind "pinky3.L"  "^"

		bind "thumbA.R"  ""
		bind "thumbB.R"  "`"
		bind "indexA1.R" "&"
		bind "indexA2.R" "|"
		bind "indexA3.R" "~"
		bind "indexB1.R" ":"
		bind "indexB2.R" ";"
		bind "indexB3.R" "$"
		bind "middle1.R" "["
		bind "middle2.R" "("
		bind "middle3.R" "{"
		bind "ring1.R"   "]"
		bind "ring2.R"   ")"
		bind "ring3.R"   "}"
		bind "pinky1.R"  "%"
		bind "pinky2.R"  "?"
		bind "pinky3.R"  "@"

	}
	layer "nav" {
		bind "thumbA.L"  ""
		bind "thumbB.L"  ""
		bind "indexA1.L" (MDI)"volume-plus"
		bind "indexA2.L" (MDI)"volume-mute"
		bind "indexA3.L" (MDI)"volume-minus"
		bind "indexB1.L" (MDI)"skip-previous"
		bind "indexB2.L" (MDI)"play-pause"
		bind "indexB3.L" (MDI)"skip-next"
		bind "middle1.L" ""
		bind "middle2.L" (Layer)"NAV"
		bind "middle3.L" ""
		bind "ring1.L"   ""
		bind "ring2.L"   ""
		bind "ring3.L"   ""
		bind "pinky1.L"  ""
		bind "pinky2.L"  ""
		bind "pinky3.L"  ""

		bind "thumbA.R"  "CTRL"
		bind "thumbB.R"  ""
		bind "indexA1.R" (MDI)"monitor-screenshot"
		bind "indexA2.R" (MDI)"pause-octagon-outline"
		bind "indexA3.R" ""
		bind "indexB1.R" ""
		bind "indexB2.R" (MDI)"arrow-left-thick" hold=(MDI)"arrow-collapse-left"
		bind "indexB3.R" ""
		bind "middle1.R" (MDI)"arrow-up-thick" hold=(MDI)"arrow-collapse-up"
		bind "middle2.R" (MDI)"arrow-down-thick" hold=(MDI)"arrow-collapse-down"
		bind "middle3.R" ""
		bind "ring1.R"   ""
		bind "ring2.R"   (MDI)"arrow-right-thick" hold=(MDI)"arrow-collapse-right"
		bind "ring3.R"   ""
		bind "pinky1.R"  ""
		bind "pinky2.R"  ""
		bind "pinky3.R"  ""

	}
}