default_profile "tesseract"
profile "tesseract" {
	size 700 300
	scale 1.0
	location {
		monitor 1
		anchor "BottomLeft"
		offset 0 40
	}
}
profile "surface" {
	size 1720 800
	scale 0.5
	location {
		anchor "BottomLeft"
		offset 0 90
	}
}
/*
bindings that are lowercase or non-numpad numerical are autoshifted when shift is held
combos:
	binding label + links
	link is:
		start (vec2 of [-1,1] indicating position on the rendered label)
		end (switch label and [-1,1] vec2 indicating the endpoint)
		a list of control points (vec2 in window space)
Tab is Bootstrap "indent"
*/
layout {
	default_layer "alpha"
	default_layer "number"
	default_layer "symbol"
	default_layer "nav"

	switch "thumbA.L"   40.0 -110.0 side="left"
	switch "thumbB.L"  100.0 -110.0 side="left"
	switch "indexA1.L"  70.0   70.0 side="left"
	switch "indexA2.L"  70.0   10.0 side="left"
	switch "indexA3.L"  70.0  -50.0 side="left"
	switch "indexB1.L" 130.0   80.0 side="left"
	switch "indexB2.L" 130.0   20.0 side="left"
	switch "indexB3.L" 130.0  -40.0 side="left"
	switch "middle1.L" 190.0  100.0 side="left"
	switch "middle2.L" 190.0   40.0 side="left"
	switch "middle3.L" 190.0  -20.0 side="left"
	switch "ring1.L"   250.0   80.0 side="left"
	switch "ring2.L"   250.0   20.0 side="left"
	switch "ring3.L"   250.0  -40.0 side="left"
	switch "pinky1.L"  310.0   40.0 side="left"
	switch "pinky2.L"  310.0  -20.0 side="left"
	switch "pinky3.L"  310.0  -80.0 side="left"

	switch "thumbA.R"   40.0 -110.0 side="right"
	switch "thumbB.R"  100.0 -110.0 side="right"
	switch "indexA1.R"  70.0   70.0 side="right"
	switch "indexA2.R"  70.0   10.0 side="right"
	switch "indexA3.R"  70.0  -50.0 side="right"
	switch "indexB1.R" 130.0   80.0 side="right"
	switch "indexB2.R" 130.0   20.0 side="right"
	switch "indexB3.R" 130.0  -40.0 side="right"
	switch "middle1.R" 190.0  100.0 side="right"
	switch "middle2.R" 190.0   40.0 side="right"
	switch "middle3.R" 190.0  -20.0 side="right"
	switch "ring1.R"   250.0   80.0 side="right"
	switch "ring2.R"   250.0   20.0 side="right"
	switch "ring3.R"   250.0  -40.0 side="right"
	switch "pinky1.R"  310.0   40.0 side="right"
	switch "pinky2.R"  310.0  -20.0 side="right"
	switch "pinky3.R"  310.0  -80.0 side="right"

	layer "alpha" {
		bind "thumbA.L" {
			slot "Tap" "Space" (IconCustom)"space"
			slot "Hold" "F12" "SYM" layer="symbol" // f22
		}
		bind "thumbB.L" {
			slot "Tap" "Backspace" (IconBootstrap)"backspace-fill"
			slot "Hold" "Delete" "DEL"
		}
		bind "indexA1.L" {
			slot "Tap" "B"
		}
		bind "indexA2.L" {
			slot "Tap" "G"
		}
		bind "indexA3.L" {
			slot "Tap" "V"
			slot "Hold" "LControl+V" "paste"
		}
		bind "indexB1.L" {
			slot "Tap" "P"
		}
		bind "indexB2.L" {
			slot "Tap" "T"
			slot "Hold" "LShift" "SHIFT"
		}
		bind "indexB3.L" {
			slot "Tap" "D"
		}
		bind "middle1.L" {
			slot "Tap" "F"
		}
		bind "middle2.L" {
			slot "Tap" "S"
			slot "Hold" "F9" "NAV" layer="nav" // f23
		}
		bind "middle3.L" {
			slot "Tap" "C"
			slot "Hold" "LControl+C" "copy"
		}
		bind "ring1.L" {
			slot "Tap" "W"
		}
		bind "ring2.L" {
			slot "Tap" "R"
			slot "Hold" "LControl" "CTRL"
		}
		bind "ring3.L" {
			slot "Tap" "X"
			slot "Hold" "LControl+X" "cut"
		}
		bind "pinky1.L" {
			slot "Tap" "Q"
		}
		bind "pinky2.L"  {
			slot "Tap" "A"
		}
		bind "pinky3.L"  {
			slot "Tap" "Z"
		}

		bind "thumbA.R" {
			slot "Tap" "Enter" (IconBootstrap)"arrow-return-left"
			slot "Hold" "F11" "NUM" layer="number" // f21
		}
		bind "thumbB.R" {
			slot "Tap" "Escape" (IconBootstrap)"escape"
		}
		bind "indexA1.R" {
			slot "Tap" "J"
		}
		bind "indexA2.R" {
			slot "Tap" "M"
			slot "Hold" "."
		}
		bind "indexA3.R" {
			slot "Tap" "K"
			slot "Hold" ":"
		}
		bind "indexB1.R" {
			slot "Tap" "L"
			slot "Hold" ";"
		}
		bind "indexB2.R" {
			slot "Tap" "N"
			slot "Hold" "RShift" "SHIFT"
		}
		bind "indexB3.R" {
			slot "Tap" "H"
		}
		bind "middle1.R" {
			slot "Tap" "U"
		}
		bind "middle2.R" {
			slot "Tap" "E"
			slot "Hold" "_"
		}
		bind "middle3.R" {
			slot "Tap" ","
		}
		bind "ring1.R" {
			slot "Tap" "Y"
		}
		bind "ring2.R" {
			slot "Tap" "I"
		}
		bind "ring3.R"
		bind "pinky1.R"
		bind "pinky2.R" {
			slot "Tap" "O"
		}
		bind "pinky3.R"
	}
	layer "number" {
		bind "thumbA.L" {
			slot "Tap" "0"
		}
		bind "thumbB.L"
		bind "indexA1.L"
		bind "indexA2.L"
		bind "indexA3.L"
		bind "indexB1.L" {
			slot "Tap" "6"
		}
		bind "indexB2.L" {
			slot "Tap" "3"
		}
		bind "indexB3.L" {
			slot "Tap" "9"
		}
		bind "middle1.L" {
			slot "Tap" "5"
		}
		bind "middle2.L" {
			slot "Tap" "2"
		}
		bind "middle3.L" {
			slot "Tap" "8"
		}
		bind "ring1.L" {
			slot "Tap" "4"
		}
		bind "ring2.L" {
			slot "Tap" "1"
		}
		bind "ring3.L" {
			slot "Tap" "7"
		}
		bind "pinky1.L"
		bind "pinky2.L" {
			slot "Tap" "."
		}
		bind "pinky3.L"

		//bind "thumbA.R"
		bind "thumbB.R"
		bind "indexA1.R" {
			slot "Tap" "F10"
		}
		bind "indexA2.R" {
			slot "Tap" "F11"
		}
		bind "indexA3.R" {
			slot "Tap" "F12"
		}
		bind "indexB1.R" {
			slot "Tap" "F4"
		}
		bind "indexB2.R" {
			slot "Tap" "F1"
		}
		bind "indexB3.R" {
			slot "Tap" "F7"
		}
		bind "middle1.R" {
			slot "Tap" "F5"
		}
		bind "middle2.R" {
			slot "Tap" "F2"
		}
		bind "middle3.R" {
			slot "Tap" "F8"
		}
		bind "ring1.R" {
			slot "Tap" "F6"
		}
		bind "ring2.R" {
			slot "Tap" "F3"
		}
		bind "ring3.R" {
			slot "Tap" "F9"
		}
		bind "pinky1.R"
		bind "pinky2.R"
		bind "pinky3.R"
	}
	layer "symbol" {
		//bind "thumbA.L"
		bind "thumbB.L"
		bind "indexA1.L" {
			slot "Tap" "."
		}
		bind "indexA2.L" {
			slot "Tap" "#"
		}
		bind "indexA3.L" {
			slot "Tap" "^"
		}
		bind "indexB1.L" {
			slot "Tap" "\""
		}
		bind "indexB2.L" {
			slot "Tap" "="
		}
		bind "indexB3.L" {
			slot "Tap" "\\"
		}
		bind "middle1.L" {
			slot "Tap" ">"
		}
		bind "middle2.L" {
			slot "Tap" "+"
		}
		bind "middle3.L" {
			slot "Tap" "*"
		}
		bind "ring1.L" {
			slot "Tap" "<"
		}
		bind "ring2.L" {
			slot "Tap" "-"
		}
		bind "ring3.L" {
			slot "Tap" "/"
		}
		bind "pinky1.L" {
			slot "Tap" "'"
		}
		bind "pinky2.L" {
			slot "Tap" "!"
		}
		bind "pinky3.L"

		bind "thumbA.R"
		bind "thumbB.R" {
			slot "Tap" "`"
		}
		bind "indexA1.R" {
			slot "Tap" "&"
		}
		bind "indexA2.R" {
			slot "Tap" "|"
		}
		bind "indexA3.R" {
			slot "Tap" "~"
		}
		bind "indexB1.R" {
			slot "Tap" ":"
		}
		bind "indexB2.R" {
			slot "Tap" ";"
		}
		bind "indexB3.R" {
			slot "Tap" "$"
		}
		bind "middle1.R" {
			slot "Tap" "["
		}
		bind "middle2.R" {
			slot "Tap" "("
		}
		bind "middle3.R" {
			slot "Tap" "{"
		}
		bind "ring1.R" {
			slot "Tap" "]"
		}
		bind "ring2.R" {
			slot "Tap" ")"
		}
		bind "ring3.R" {
			slot "Tap" "}"
		}
		bind "pinky1.R" {
			slot "Tap" "%"
		}
		bind "pinky2.R" {
			slot "Tap" "?"
		}
		bind "pinky3.R" {
			slot "Tap" "@"
		}

	}
	layer "nav" {
		bind "thumbA.L"
		bind "thumbB.L"
		bind "indexA1.L" {
			slot "Tap" "AudioVolumeUp" (IconBootstrap)"volume-up-fill"
		}
		bind "indexA2.L" {
			slot "Tap" "AudioVolumeMute" (IconBootstrap)"volume-mute-fill"
		}
		bind "indexA3.L" {
			slot "Tap" "AudioVolumeDown" (IconBootstrap)"volume-down-fill"
		}
		bind "indexB1.L" {
			slot "Tap" "MediaTrackNext" (IconBootstrap)"skip-end-fill"
		}
		bind "indexB2.L" {
			slot "Tap" "MediaPlayPause" (IconCustom)"play-pause"
		}
		bind "indexB3.L" {
			slot "Tap" "MediaTrackPrevious" (IconBootstrap)"skip-start-fill"
		}
		bind "middle1.L"
		//bind "middle2.L"
		bind "middle3.L"
		bind "ring1.L"
		bind "ring2.L"
		bind "ring3.L"
		bind "pinky1.L"
		bind "pinky2.L"
		bind "pinky3.L"

		bind "thumbA.R"
		bind "thumbB.R" {
			slot "Tap" "RControl" "CTRL"
		}
		bind "indexA1.R" {
			slot "Tap" "PrintScreen" (IconBootstrap)"display"
		}
		bind "indexA2.R" {
			slot "Tap" "Pause" (IconBootstrap)"x-circle"
		}
		bind "indexA3.R"
		bind "indexB1.R"
		bind "indexB2.R" {
			slot "Tap" "ArrowLeft" (IconBootstrap)"arrow-left"
			slot "Hold" "Home" (IconBootstrap)"box-arrow-left"
		}
		bind "indexB3.R"
		bind "middle1.R" {
			slot "Tap" "ArrowUp" (IconBootstrap)"arrow-up"
			slot "Hold" "PageUp" (IconBootstrap)"box-arrow-up"
		}
		bind "middle2.R" {
			slot "Tap" "ArrowDown" (IconBootstrap)"arrow-down"
			slot "Hold" "PageDown" (IconBootstrap)"box-arrow-down"
		}
		bind "middle3.R"
		bind "ring1.R"
		bind "ring2.R" {
			slot "Tap" "ArrowRight" (IconBootstrap)"arrow-right"
			slot "Hold" "End" (IconBootstrap)"box-arrow-right"
		}
		bind "ring3.R"
		bind "pinky1.R"
		bind "pinky2.R"
		bind "pinky3.R"

	}
}