/* Columns */

.kanbn-column-backlog .kanbn-column-task-list {
	border-color: var(--vscode-activityBar-inactiveForeground);
}

.kanbn-column-blocked .kanbn-column-task-list {
	border-color: #843bb5;
}

.kanbn-column-pending .kanbn-column-task-list {
	border-color: #ffc400;
}

.kanbn-column-done .kanbn-column-task-list {
	border-color: #0067cf;
}

/* Tags */

.kanbn-task-tag-cephaloflux {
	background-color: rgb(144, 92, 255)
}

.kanbn-task-tag-lkmd {
	background-color: rgb(61, 165, 255)
}
